/.vscode/
*.nc
*.hdf
*.pkl
*.pickle
/CTDAS/
/CTE-HR/
/DATA/
/landmask/.ipynb_checkpoints/
/landmask/countries_csv/
area_comparison.csv
/Experiments/landmask/plots/*
/Experiments/scripts/yr1/*/functions/__pycache__
*PKG-INFO
*pyc
*.cpython
*Zone.Identifier
/FLEXPART/
submit_fluxes_*.log
*slurm*
/Experiments/ens_members_comparison/
*.out
*.err
STILT_Model/*
STILT_log_PDM_particlefilter
missing.footprints.example
STILT_scripts/batch_scripts/backup/stilt_batchrun_template.sh
STILT_scripts/fp_flux_mult/test.ipynb
STILT_scripts/fp_flux_mult/functions/backup_code.py
STILT_scripts/fp_flux_mult/functions/obspack_identification_col.py
STILT_scripts/fp_flux_mult/functions/obspack_identification_url.py
STILT_scripts/fp_flux_mult/sparse_to_dense_conversion.py
STILT_scripts/fp_flux_mult/sparse_footprint_multiplication_Auke.ipynb
STILT_scripts/fp_flux_mult/calculate_backgroundfields.py
STILT_scripts/fp_flux_mult/footprint_*.py
STILT_scripts/fp_flux_mult/multiworkers_test.py
STILT_scripts/fp_flux_mult/fp_flux_mult.py
STILT_scripts/plotting/check_dif_concentration.ipynb
STILT_scripts/plotting/check_dif_footprints.ipynb
pstat.py
*.report
*.log
*.md
*/submit_fluxes.sh
STILT_scripts/fp_flux_mult/combine_ObsPack_test.ipynb
STILT_scripts/fp_flux_mult/extract_stationinfo_from_ObsPack.py
STILT_scripts/fp_flux_mult/for_Ruben.ipynb
STILT_scripts/fp_flux_mult/fp_flux_mult_MP_submit_srun.sh
STILT_scripts/fp_flux_mult/fp_name_test.ipynb
